@charset "utf-8"; 

#wrap{ margin:0 auto;  width:1400px; }

#topbar{display:flex; justify-content: space-between; width:92%; padding: 20px; margin:0 auto;}
#search{display:flex; justify-content: space-between; width:400px; margin:10px; line-height:46px; text-align: center; position:relative;}
#search input{height:30px; top:8px; position:absolute;}
#menu1{margin:0; position:absolute; right:5px;}
#menu1>ul{display:flex; justify-content: space-around; width:180px;}
#logo{width:100px; }
#logo>img{width:100%;}

#menu{display:flex; justify-content:space-between; width:92%; margin:0 auto;  }
#menu2>ul{display:flex;justify-content:space-between; width:500px; padding:20px; }

/* #menu3{width:300px; } */
#menu3>ul{display:flex; justify-content: space-evenly; padding:20px; width:300px; }
#menu{background-color:aliceblue;}


footer{ width: 92%; background-color:aliceblue;  margin: 10px auto;}
footer h5{padding: 20px; font-size: 15px; color: #444;}
footer h6{padding: 0 20px; font-size: 12px; color:#555;}
footer p {text-align: center;font-size: 11px; color: #666; padding: 0 0 20px; }