@charset "utf-8";

@import "reset", "common";


#exhibitions {
    width: 1300px;
    height: 900px;
    margin: 20px auto;
    padding: 20px;
    

    &>h3 {
        text-align: center;
        font-size: 20px;
        margin: 20px;
    }
}

#quick {
    width: 80%;
    margin: 50px auto;
    padding:20px;

    &>ul {
        display: flex;
        justify-content: space-evenly;

        &>li {
            div {
                width: 80px;
                height: 80px;
                text-align: center;

                &>img {
                    width: 100%;
                }
                &>span{
                    font-size:15px;

                }
            }

        }
    }

}


#books {
    width: 1300px;
    margin: 20px auto;
    padding: 20px;
   
    &>h3 {
        text-align: center;
        font-size: 20px;
        margin: 20px;
    }
}


#booktab {
    margin: 10px;
    display: flex;
    justify-content: center;

    li {
        float: left;
        text-align: center;
        line-height: 45px;
        cursor: pointer;
        padding: 5px 50px;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-right: 1px solid #ddd;
        }
    }
}


article {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
}

#titlelist {
    margin: 15px;
}

.list:not(:first-of-type) {
    display: none;
}

.box {
    width: calc(25% - 20px);
    text-align: center;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 4px #eee;

    p {
        font-size: 11px;
        color: #666;
        text-align: left;
    }
}

#new {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin: 20px auto;
    padding: 20px;

    h4 {
        width: 100%;
        margin: 20px auto;
        font-size: 20px;
        text-align: center;
    }
}

#sale {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin: 20px auto;
    padding: 20px;

    h4 {
        width: 100%;
        margin: 20px auto;
        font-size: 20px;
        text-align: center;
    }
}

button{
    width:45px;
    height:25px; 
    border:none;
    border-radius: 6px;
    color:#333;
    margin: 10px 0 0;

}